<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>亲亲</key>
	<string>1.png</string>
	<key>欢呼</key>
	<string>2.png</string>
	<key>沉默</key>
	<string>3.png</string>
	<key>可怜</key>
	<string>4.png</string>
	<key>奋斗</key>
	<string>5.png</string>
	<key>坚持</key>
	<string>6.png</string>
	<key>猜疑</key>
	<string>7.png</string>
	<key>不爽</key>
	<string>8.png</string>
	<key>哇</key>
	<string>9.png</string>
	<key>自恋</key>
	<string>10.png</string>
	<key>大笑</key>
	<string>11.png</string>
	<key>汗</key>
	<string>12.png</string>
	<key>崩溃</key>
	<string>13.png</string>
	<key>尴尬</key>
	<string>14.png</string>
	<key>可爱</key>
	<string>15.png</string>
	<key>忧愁</key>
	<string>16.png</string>
	<key>憨笑</key>
	<string>17.png</string>
	<key>花痴</key>
	<string>18.png</string>
	<key>抵触</key>
	<string>19.png</string>
	<key>哭泣</key>
	<string>20.png</string>
	<key>无语</key>
	<string>21.png</string>
	<key>感动</key>
	<string>22.png</string>
	<key>生气</key>
	<string>23.png</string>
	<key>打盹</key>
	<string>24.png</string>
	<key>求求</key>
	<string>25.png</string>
	<key>傲慢</key>
	<string>26.png</string>
	<key>吐舌</key>
	<string>27.png</string>
	<key>惊讶</key>
	<string>28.png</string>
</dict>
</plist>
